#book-idv {
  background-image: url('../images/books/idv.png');
}

#event-dv {
  background-image: url('../images/events/dv.png');
}

#example-d3js {
  background-image: url('../images/examples/d3js.png');
}

#event-nydvai{
  background-image: url('../images/events/nydvai.png');
}

#event-nycod {
  background-image: url('../images/events/nycod.png');
}

#book-cookbook {
  background-image: url('../images/books/cookbook.jpg');
}

#library-c3js {
  background-image: url('../images/libraries/c3js.png');
}

#library-nvd3js {
  background-image: url('../images/libraries/nvd3js.png');
}

#article-qunb {
  background-image: url('../images/articles/qunb.png');
}

#article-sparklines {
  background-image: url('../images/articles/sparklines.png');
}

#library-epochjs {
  background-image: url('../images/libraries/epochjs.png');
}

#event-openconf {
  background-image: url('../images/events/openconf.png');
}

#library-parallel {
  background-image: url('../images/libraries/parallel.png');
}

#library-rcharts {
  background-image: url('../images/libraries/rcharts.png');
}

#library-datamaps {
  background-image: url('../images/libraries/datamaps.png');
}

#library-cubismjs {
  background-image: url('../images/libraries/cubismjs.png');
}

#library-rickshaw {
  background-image: url('../images/libraries/rickshaw.png');
}

#library-polychart {
  background-image: url('../images/libraries/polychart.png');
}

#example-dashboards {
  background-image: url('../images/examples/dashboards.png');
}

#example-nba-shot-analysis {
  background-image: url('../images/examples/nba-shot-analysis.png');
}

#library-highcharts {
  background-image: url('../images/libraries/highcharts-logo.jpg');
}

#example-dashboard-ex {
  background-image: url('../images/examples/dashboard-ex.png');
}

#example-nba-hip-hop {
  background-image: url('../images/examples/nba-hip-hop.png');
}

#tutorial-square-d3 {
  background-image: url('../images/tutorials/square-d3.png');
}
